/*Mobile first*/ 
/*width: 375*/ 
*{
	font-family:tahoma;
	color:white;
}

body{
	animation: change 120s infinite;
}

/*ik heb de background-color verandert in js bestand
@keyframes change{
	0%{background-color: #09203A;}
	25%{background-color: #47607E;}
	50%{background-color: #5D82AE;}
	75%{background-color: #78A3D6;}
	100%{background-color: #80B0E8;}
}*/

h2{
	text-align:center; 
	border-top: 2px solid white;
	padding-top:20px; 
	font-weight: normal;
	font-size: 20px;
}
	
	
/*Header: Logo bovenaan de pagina*/

.logo-wit > img{
	width:127px;
	height: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top:3px;
}

	
/*Section-een: Digitale klok met de uren en minuten in 2 aparte gele boxen en een rode box voor de seconden*/
.aarde-tijd{
	border-top: 2px solid white;
}

.aarde-tijd > h2{
	margin-bottom:30px;
	border-top:none;
}

.klok-data{
	display:flex;
	justify-content:center;
}

.klokdata-wrapper{
	text-align: center;
	width: 275px;
	height: 88px;
	margin-bottom: 30px;
}

.klok-tijd{	
	background-color:#09203A;
	width: 275px;
	height: 30px;
	margin-top: 10px;
	display: flex; 
	justify-content:center;
}

.klok-tijd > h4{
	margin-left: 55px;
	margin-top: 5px;
}

#klok{
	background-color:#09203A;
	font-size: 35px;
	font-weight:bold;
}

#uur{
	margin-left:-5px;
}


/*Section-twee: Reis een leuke visuele weergave van mars een raket en de aarde voor opvulling van de pagina*/
.planeten {
	display: flex;
	justify-content: center;
}

.mars{
	margin-right: -2px;
}

.mars>img, .aarde>img{
	width: 62px;
	height: 62px;
}

.raket>img{
	width: 40px;
	height: 40px;
}	

.raket{
	animation: beweging 60s infinite;
	position: relative;
}

@keyframes beweging {
	  0%   {left: 100px;}
	  25%  {left: -100px;}
	  50%  {left: 100px;}
	  75%  {left: -100px;}
	  100% {left: 100px;}
	}

	
/*Section-drie: Standaard-uren een weergave van de tijden wanneer de reizigers naar bed moeten gaan of wakker moeten worden*/
	/*De codes die apart staan tussen de sterren zijn codes die ik eerst had toegepast om elementen een bepaalde plek te geven op de pagina,
	  maar dat heb ik verandert door in de plaats van float en de margin aan te passen, display te gebruiken.*/
/*.standaard-uren>h2{
	clear:both;
	margin-bottom:-5px;
}*/

.standaard-tijden{
	display: flex;
	justify-content:center;
    margin-left: auto;
    margin-right: auto;
}

.standaard-wakkertijd, .standaard-bedtijd{
	width: 123px;
	height: 62px;
	font-size: 25px;
	text-align:center;
	padding-top:22px;
	background-color:#09203A;
	/*float:left;
	clear:left;
	margin-left:39px;*/
}

.wakkertijd-informatie, .bedtijd-informatie{
	width: 157px;
	height: 63px;
	font-size: 18px;
	text-align:center;
	margin-top:25px;
	/*float:right;
	clear:right;
	margin-right:39px;*/
}

/*.standaard-wakkertijd {
	background-color:#E9C764;
	float:left; 
	clear:left;
	margin-left:40px;
}*/

.wakkertijd-informatie{
	padding-top:21px;
	background-color:#FFD868;
	/*float:right;
	clear:rigth;
	margin-right:39px;*/
}

/*.standaard-bedtijd{
	/*background-color:#D86565;
	float:left; 
	clear:left;
	margin-left:40px;
	margin-top:-5px;
}*/

.bedtijd-informatie{
	height: 55px;
	padding-top:29px;
	background-color:#FF7777;
	/*float:right;
	clear:rigth;
	margin-right:39px;
	margin-top:-5px;*/
}



/*Ipad css*/ 
@media only screen and (min-width: 768px){
	h2{
		font-size:30px;
	}
	
	.logo-wit>img{
		width:180px;
		height: 30px;
	}

	.klokdata-wrapper{
		width: 300px;
		height: 98px;
	}

	.klok-tijd{	
		width: 300px;
		height: 35px;
	}

	.klok-tijd > h4{
		font-size:20px;
	}

	#klok{
		font-size: 45px;
	}

	.mars>img, .aarde>img{
		width: 97px;
		height: 97px;
	}

	.raket>img{
		width: 65px;
		height: 65px;
	}
	
	.standaard-wakkertijd, .standaard-bedtijd{
		width: 143px;
		height: 82px;
		font-size: 30px;
	}

	.wakkertijd-informatie, .bedtijd-informatie{
		width: 177px;
		height: 77px;
		font-size: 25px;
		margin-top: 28px;
	}
	
	.bedtijd-informatie{
		margin-top:-7px;
	}
	
	.wakkertijd-informatie{
		padding-bottom: 10px;
	}
}



/*Laptop css*/ 
@media only screen and (min-width: 1024px){
	h2{
		font-size:35px;
	}
	
	.logo-wit>img{
		width:230px;
		height: 40px;
	}
	
	.aarde-tijd{
		margin-bottom: 40px;
	}
	
	.aarde-tijd > h2{
		margin-top: 50px;
	}
	
	.klokdata-wrapper{
		width: 380px;
		height: 130px;
	}

	.klok-tijd{	
		width: 380px;
		height: 55px;
	}

	.klok-tijd > h4{
		font-size:35px;
	}

	#klok{
		font-size: 60px;
	}
	
	.reis{
		float: right;
		clear:right;
		margin-right:50px;
	}
	
	.mars>img, .aarde>img{
		width: 120px;
		height: 120px;
	}

	.raket>img{
		width: 88px;
		height: 88px;
	}
	
	.standaard-uren{
		float: left;
		clear: left;
		margin-left: 50px;
	}
}



/*Desktop css*/ 
@media only screen and (min-width: 1440px){
	h2{
		font-size:40px;
		padding-top: 50px;
	}
	
	.spacelogo{
		float:left;
		clear:left;
		margin-left:180px;
		width: 340px;
		border-top: 2px solid white;
		margin-top: 35px;
	}
	
	.logo-wit>img{
		margin-top: 155px;
		margin-left: -30px;
		width:340px;
		height: 60px;
	}
	
	.aarde-tijd{
		float:right;
		clear:right;
		margin-right:180px;
		margin-top:35px;
		width: 570px;
	}
	
	.aarde-tijd > h2{
		margin-bottom:30px;
	}
	
	.klokdata-wrapper{
		width: 455px;
		height: 150px;
	}

	.klok-tijd{	
		width: 455px;
		height: 60px;
	}

	.klok-tijd > h4{
		font-size:35px;
	}

	#klok{
		font-size: 60px;
	}
	
	.reis{
		margin-right:170px;
	}
	
	.planeten>figure{
		margin-top:20px;
	}
	
	.mars{
		margin-right:50px;
	}
	
	@keyframes beweging {
	  0%   {left: 150px;}
	  25%  {left: -180px;}
	  50%  {left: 150px;}
	  75%  {left: -180px;}
	  100% {left: 150px;}
	}
	
	.standaard-uren{
		margin-left: 180px;
	}
}